<h2>Breakfast Menu</h2>
<div class="item-background">
    <img class="food-image" src={{url}} alt={{name}}>
    <div class="food-info-background">
        <p class="name">{{name}}</p>
        <p class="price">{{price}}</p>
        <p class="ingredients">{{ingredients}}</p>
        <p class="reviews">{{reviews}}</p>
    </div>
</div>